RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
#RewriteEngine on
#RewriteCond  %{SERVER_PORT} 80
#RewriteRule ^(.*)$ http://www.opisa.com/opisio.com.mx/$1 [R,L]
#RewriteCond $1 !^(index\.php|assets|images|css|js|robots\.txt|favicon\.ico)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$./index.php?/$1 [L]